<section class="portifolio" id="portifolios">
  <h2 class="heading">Latest <span>Project</span></h2>
    <div class="portifolio-container">
      <div class="portifolio-box">
        <img src="assets/image/frontend.jpg" alt="imagem tecnologicas">
        <div class="portifolio-layer">
          <h4>FrontEnd</h4>
          <p>Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Explicabo fugiat aliquam error quas atque ratione
            blanditiis? Nisi paria</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portifolio-box">
        <img src="assets/image/backend.jpg" alt="imagem tecnologicas">
        <div class="portifolio-layer">
          <h4>FrontEnd</h4>
          <p>Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Explicabo fugiat aliquam error quas atque ratione
            blanditiis? Nisi paria</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portifolio-box">
        <img src="assets/image/frontend.jpg" alt="imagem tecnologicas">
        <div class="portifolio-layer">
          <h4>FrontEnd</h4>
          <p>Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Explicabo fugiat aliquam error quas atque ratione
            blanditiis? Nisi paria</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portifolio-box">
        <img src="assets/image/frontend.jpg" alt="imagem tecnologicas">
        <div class="portifolio-layer">
          <h4>FrontEnd</h4>
          <p>Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Explicabo fugiat aliquam error quas atque ratione
            blanditiis? Nisi paria</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portifolio-box">
        <img src="assets/image/frontend.jpg" alt="imagem tecnologicas">
        <div class="portifolio-layer">
          <h4>FrontEnd</h4>
          <p>Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Explicabo fugiat aliquam error quas atque ratione
            blanditiis? Nisi paria</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portifolio-box">
        <img src="assets/image/frontend.jpg" alt="imagem tecnologicas">
        <div class="portifolio-layer">
          <h4>FrontEnd</h4>
          <p>Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Explicabo fugiat aliquam error quas atque ratione
            blanditiis? Nisi paria</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
    </div>
</section>