<section class="about" id="about">
    <div class="about-img">
        <img src="assets/image/1664468690182.jpg" alt="" class="scr">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span> </h2>
        <h3>Fullstack Developer</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur similique laudantium illum maxime ratione
            distinctio aut ipsa molestias quas impedit dolorum nobis eum delectus atque assumenda, excepturi quis! Sunt,
            iure!
            Libero quo molestiae neque ex dicta enim sunt iste consectetur nobis repudiandae ullam facilis a, magnam
            exercitationem similique saepe sapiente odit officia? Tenetur velit ipsa molestias esse earum sunt
            laudantium?
            Maxime corrupti nemo, aperiam illum repellendus cumque dolore doloribus ipsum, reprehenderit sit,
            dignissimos rerum harum quo modi? Quo eos autem eaque aliquam, quidem, architecto consequatur impedit nulla
            dolorem officiis recusandae.</p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>