<section class="services" id="services">
  <h2 class="heading">Our<span>Services</span></h2>
  <div class="services-container">
    <div class="services-box">
      <i class="bx bx-code-alt"></i>
      <h3>Web Development</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
        accusantium placeat facilis suscipit, minus corporis corrupti architecto
        eligendi laboriosam facere in nobis possimus excepturi illo, dolore vel
        vitae! Numquam, facere?
      </p>
      <a href="#" class="btn">Read More</a>
    </div>
    <div class="services-box">
      <i class="bx bxs-paint"></i>
      <h3>FrontEnd Developer</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
        accusantium placeat facilis suscipit, minus corporis corrupti architecto
        eligendi laboriosam facere in nobis possimus excepturi illo, dolore vel
        vitae! Numquam, facere?
      </p>
      <a href="#" class="btn">Read More</a>
    </div>
    <div class="services-box">
      <i class="bx bx-data"></i>
      <h3>Data Cientist</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
        accusantium placeat facilis suscipit, minus corporis corrupti architecto
        eligendi laboriosam facere in nobis possimus excepturi illo, dolore vel
        vitae! Numquam, facere?
      </p>
      <a href="#" class="btn">Read More</a>
    </div>
  </div>
</section>
